{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false,
          "corejs": 2,
          "useBuiltIns": "usage"
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      "react-hot-loader/babel",
      ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "true" }],
      ["macros"]
    ]
}